ion-content {
  --background: url("../../../assets/m.jpg") no-repeat center/cover fixed;
}
.bi {
  max-height: 100%;
  max-width: 100%;
  background-image: url("../../../assets/wel.webp");
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 600px) {
  .container {
    padding: 0 20px;
  }
}

@media screen and (min-width: 900px) {
  .container {
    max-width: 600px;
    margin: 0 auto;
  }

  .fab-container {
    margin-bottom: 50px;
  }
}
