<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="updateMemo()">
        <ion-icon
          size="large"
          color="primary"
          slot="icon-only"
          name="save"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button (click)="addToFavorites()">
        <ion-icon
          size="large"
          color="primary"
          slot="icon-only"
          name="heart-circle"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="deleteMemo()">
        <ion-icon
          size="large"
          color="primary"
          slot="icon-only"
          name="trash"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="memo">
    <ion-item>
      <ion-input
        class="title"
        label="Title"
        [(ngModel)]="memo.title"
      ></ion-input>
    </ion-item>
    <ion-textarea class="text-content" lines="none" [(ngModel)]="memo.content">
    </ion-textarea>
  </div>
</ion-content>
