<ion-content [fullscreen]="true">
  <div class="header">
    <ion-title class="title"> Welcome </ion-title>
    <p class="subTitle">Sign up to create your account</p>
  </div>
  <form [formGroup]="regForm" (ngSubmit)="signUp()">
    <div class="ion-padding">
      <ion-item>
        <ion-input placeholder="name" class="input" formControlName="name">
        </ion-input>

        <ion-icon name="person-outline"> </ion-icon>
      </ion-item>
      <ion-row
        *ngIf="regForm.get('name').invalid && regForm.get('name').touched"
      >
        <ion-col size-sm="6" offset-sm="3">
          <p>Enter fullname</p>
        </ion-col>
      </ion-row>
      <ion-item>
        <ion-input placeholder="email" class="input" formControlName="email">
        </ion-input>
        <ion-icon name="person-outline"> </ion-icon>
      </ion-item>
      <ion-row
        *ngIf="regForm.get('email').invalid && regForm.get('email').touched"
      >
        <ion-col size-sm="6" offset-sm="3">
          <p>Should be a valid email address.</p>
        </ion-col>
      </ion-row>
      <ion-item>
        <ion-input
          type="password"
          placeholder="password"
          class="input"
          formControlName="password"
        >
        </ion-input>
        <ion-icon name="lock-closed-outline"> </ion-icon>
      </ion-item>
      <ion-row
        *ngIf="regForm.get('password').invalid && regForm.get('password').touched"
      >
        <ion-col size-sm="6" offset-sm="3">
          <p>Should be minimum 7 characters long.</p>
        </ion-col>
      </ion-row>

      <div class="signinLink">
        <p>Already member? <a [routerLink]="['/login']">Sign in now</a></p>
      </div>
    </div>
    <ion-fab vertical="bottom" horizontal="end" style="margin-bottom: 30px">
      <ion-fab-button (click)="signUp()">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </form>
</ion-content>
